<h1>Wyszukiwarka odjazdów KZK GOP</h1>
<%= form_tag stops_path, method: 'get' do %>
  <%= label_tag :query, 'Szukaj przystanków:' %>
  <%= text_field_tag :query %>
  <%= submit_tag 'Szukaj' %>
<% end %>
<%= render @stops %>
